parameters:
    level: max
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    ignoreErrors:
        # Exception still thrown in PHP 8, not sure why phpstan complains
        -
            message: "#^Dead catch - UnexpectedValueException is never thrown in the try block\\.$#"
            count: 2
            path: src/BatchResult.php

        -
            message: "#^Method Http\\\\Client\\\\Common\\\\Plugin\\\\Journal\\:\\:addSuccess\\(\\) has no return type specified\\.$#"
            count: 1
            path: src/Plugin/Journal.php

        -
            message: "#^Method Http\\\\Client\\\\Common\\\\Plugin\\\\Journal\\:\\:addFailure\\(\\) has no return type specified\\.$#"
            count: 1
            path: src/Plugin/Journal.php

        -
            message: "#^Call to an undefined method Http\\\\Client\\\\HttpAsyncClient\\:\\:sendRequest\\(\\)\\.$#"
            count: 1
            path: src/PluginClient.php

        -
            message: "#^Method Http\\\\Client\\\\Common\\\\EmulatedHttpClient\\:\\:sendRequest\\(\\) should return Psr\\\\Http\\\\Message\\\\ResponseInterface but returns mixed\\.$#"
            count: 1
            path: src/EmulatedHttpClient.php

        -
            message: "#^Anonymous function should return Psr\\\\Http\\\\Message\\\\ResponseInterface but returns mixed\\.$#"
            count: 1
            path: src/Plugin/RedirectPlugin.php

        # phpstan is confused by the optional dependencies. we check for existence first
        -
            message: "#^Method Http\\\\Client\\\\Common\\\\Plugin\\\\RedirectPlugin::guessStreamFactory\\(\\) should return Psr\\\\Http\\\\Message\\\\StreamFactoryInterface\\|null but returns Nyholm\\\\Psr7\\\\Factory\\\\Psr17Factory\\.$#"
            count: 1
            path: src/Plugin/RedirectPlugin.php

        # phpstan is confused by the optional dependencies. we check for existence first
        -
            message: "#^Call to static method streamFor\\(\\) on an unknown class GuzzleHttp\\\\Psr7\\\\Utils\\.$#"
            count: 1
            path: src/Plugin/RedirectPlugin.php

        -
            message: "#^Method Http\\\\Client\\\\Common\\\\Plugin\\\\RetryPlugin\\:\\:retry\\(\\) should return Psr\\\\Http\\\\Message\\\\ResponseInterface but returns mixed\\.$#"
            count: 1
            path: src/Plugin/RetryPlugin.php

        -
            message: "#^Method Http\\\\Client\\\\Common\\\\PluginClient\\:\\:sendRequest\\(\\) should return Psr\\\\Http\\\\Message\\\\ResponseInterface but returns mixed\\.$#"
            count: 2
            path: src/PluginClient.php
