name: static

on:
  push:
      branches:
          - master
  pull_request:

jobs:
  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: PHPStan
        uses: OskarStark/phpstan-ga@0.12.32
        env:
          REQUIRE_DEV: false
        with:
          args: analyze --no-progress

  php-cs-fixer:
      name: PHP-CS-Fixer
      runs-on: ubuntu-latest

      steps:
          - name: Checkout code
            uses: actions/checkout@v2

          - name: PHP-CS-Fixer
            uses: docker://oskarstark/php-cs-fixer-ga
            with:
                args: --dry-run --diff
