name: tests

on:
  push:
      branches:
          - '*.x'
  pull_request:

jobs:
  latest:
    name: PHP ${{ matrix.php }} Latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.1', '7.2', '7.3', '7.4', '8.0', '8.1']

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none

      - name: Require PHPSpec 7.1 dependencies
        run: |
          composer require "phpspec/phpspec:^7.1@dev" --no-interaction --no-update
          composer update --prefer-dist --no-interaction --no-progress --ignore-platform-req=php
        if: "matrix.php == '8.1'"

      - name: Install PHP dependencies
        run: composer update --prefer-dist --no-interaction --no-progress

      - name: Execute tests
        run: composer test

  lowest:
    name: PHP ${{ matrix.php }} Lowest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.1', '7.2', '7.3', '7.4']

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: |
          composer require "sebastian/comparator:^3.0.2" --no-interaction --no-update
          composer update --prefer-dist --prefer-stable --prefer-lowest --no-interaction --no-progress

      - name: Execute tests
        run: composer test

  symfony:
    name: Symfony ${{ matrix.symfony }} LTS
    runs-on: ubuntu-latest
    strategy:
      matrix:
        symfony: ['4', '5', '6']

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.1
          tools: composer:v2
          coverage: none

      - name: Pin old packages
        run: composer require "phpspec/phpspec:^2.5.8" --no-interaction --no-update
        if: "matrix.symfony == '2'"

      - name: Install dependencies
        run: |
          composer config --no-plugins allow-plugins.symfony/flex true
          composer require --no-update --no-interaction --no-progress symfony/flex
          composer config extra.symfony.require ${{ matrix.symfony}}
          composer update --prefer-dist --no-interaction --prefer-stable --prefer-lowest --no-progress

      - name: Execute tests
        run: composer test

  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          tools: composer:v2
          coverage: xdebug

      - name: Install dependencies
        run: |
          composer require "friends-of-phpspec/phpspec-code-coverage:^4.3.2" --no-interaction --no-update
          composer update --prefer-dist --no-interaction --no-progress

      - name: Execute tests
        run: composer test-ci

      - name: Upload coverage
        run: |
          wget https://scrutinizer-ci.com/ocular.phar
          php ocular.phar code-coverage:upload --format=php-clover build/coverage.xml
